fastapi
uvicorn
langchain
langgraph
langchain-groq
python-dotenv
pydantic
passlib[bcrypt]
pyjwt
email-validator
structlog
pymongo
tiktoken 
langchain-core 
langgraph 
langchain-groq 
langchain-google-genai 
langgraph-checkpoint-mongodb 
